body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.quakeAlert_header {
  background: linear-gradient(to right, orange, orange, orangered,red, brown, red, orangered, orange, orange);
  padding: 5px;

  /*new */
  position: fixed; /* Stays permanent even if you scroll */
  top: 0;
  width: 100%;
  z-index: 2000; /* Set it highhhh!! */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  height: 60px; /* fixed pixel values */
  border: 2px groove black;
  display: flex;
  flex-direction: row;
}

.navbar__h1 {
  text-align: left;
  
  font-size: 2.8rem;
  font-family: 'Yu Gothic';
  font-weight: bolder;
  color: lightgoldenrodyellow;
  cursor: pointer;
  animation: flicker 4s infinite;
}

@keyframes flicker {
    0% {
        color: lightgoldenrodyellow;
    }

    50% {
        color: darkred;
    }


}

.navbar__p {
    text-align: right;
    font-size: 0.9rem;
    font-family: 'Yu Gothic';
    font-weight: bolder;
    color: #0b055a;
    
    
}

.iframe {
  text-align: center;
  margin-top: -4px;
  margin-bottom: 6px;
}

.leaflet-control-zoom {
  position: fixed;
  left: 30px;
  bottom: 15vh;
}

.nav-followlnk-span {
  font-size: 12px;
}

.nav-followlnk-span a {
  color: black;
}

.map__section {
  height: 99.5vh;
  width: 100%;
  border: 1px solid red;
}

.quake__magnitude {
  font-weight: bold;
}

.quake__magnitude__red {
  font-weight: bold;
  color: crimson;
}

.quake__magnitude__orange {
  font-weight: bold;
  color: orange;
}

.popup__quaketime_gmt {
  color: rgba(29, 161, 242, 1);
}

.popup__quaketime_local {
  color: rgba(29, 161, 242, 1);
  font-size: 11px;
}

.popup__quake_description {
  padding-top: 2px;
}

.filter_sec {
  position: fixed;
  z-index: 1001;
  background-color: navajowhite;
  padding: 70px 50px 5px 40px;
  margin: 200px 0 0 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.filter_sec2 {
    position: absolute;
    z-index: 1001;
    background-color: #e65c5c;
    padding-left: 5px;
    top: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.toggle__filter {
  position: fixed;
  z-index: 2000;
  background-color: rgb(38, 38, 245);
  color: blanchedalmond;
  padding: 10px;
  margin: 200px 0 0 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 0px 0px 25px 0px;
  cursor: pointer;
  opacity: 60%;
}

.toggle__filter:hover {
    opacity: 100%;
}

.display_none {
  display: none;
}

.filter__header {
  font-size: 20px;
  padding-bottom: 5px;
}

.filter__sec__notice {
  font-size: 12px;
  padding-bottom: 2px;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(assets/marker_preloader.gif) center no-repeat #fff;
  background-size: 250px 250px;
  cursor: wait;
}

.preload_message {
  position: relative;
  text-align: center;
  padding: 10px;
  top: 50%;
}

@media (max-width: 600px) {
  .navbar__h1 {
    font-size: 30px;
  }

  .navbar__p {
    font-size: 12px;
    margin-top: -5px;
  }

  .filter_sec {
    margin: 160px 0 0 15px;
  }

  .toggle__filter {
    margin: 160px 0 0 15px;
  }

  .leaflet-control-zoom {
    left: 5px;
    bottom: 12vh;
  }

  .navbar__p {
      visibility: hidden;
  }
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}
li {
    padding-left: 40px;
    
    padding-top: 10px;
    font-size: 1.2rem;
    vertical-align:bottom;
    width: 200px;
}
li.li2 {
    padding-left: 40px;
    padding-top: 0px;
    font-size: 1.1rem;
    vertical-align: bottom;
    width: 250px;
}
li.li3 {
        padding-top: 10px;
        
        padding-left: 380px;
        cursor: pointer;
        width: 20px;
}

a {
    color: white;
}
a:hover{
    text-decoration: none;
    filter: brightness(0.8);
}

nav {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:900px) {
    ul {
        width: 50%;
    }
    
    li {
        padding: 0px;
        font-size: 0.8rem;
    }
        li.li2 {
            padding: 0px;
        }

        li.li3 {
            padding-top: 10px;
            padding-left: 380px;
            cursor: pointer;
            width: 20px;
        }

    .filter_sec {
        position: fixed;
        z-index: 1001;
        background-color: navajowhite;
        
        margin: 200px 0 0 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
        height: 50%;
        width: 50%;
        font-size:0.7rem;
        display: flex;
        flex-direction: column;    
    }

    hr {
        display: none;
    }

    .toggle__filter {
        position: fixed;
        z-index: 2000;
        background-color: rgb(38, 38, 245);
        color: blanchedalmond;
        padding: 10px;
        margin: 90vh 10px 0 70vw;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
        border-radius: 0px 0px 25px 0px;
        cursor: pointer;
        opacity: 60%;
    }
}